<div class="card mt-6 has-background-primary-light">
  <div class="card-content">
    <div class="content">
      <h2 class="title">New Entry</h2>

<%= form_with(model: entry, local: true) do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="label">
      <%= form.label :calories %>
    </div>
    <div class="control">
      <%= form.number_field :calories , class: "input"%>
    </div>
  </div>

  <div class="field">
    <div class="label">
      <%= form.label :proteins %>
    </div>  
    <div class="control">
      <%= form.number_field :proteins , class: "input"%>
    </div>  
  </div>

  <div class="field">
    <div class="label">
      <%= form.label :fats %>
    </div>
    <div class="control">
      <%= form.number_field :fats , class: "input"%>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: "button is-success is-outlined" %>
  </div>
<% end %>
    </div>
  </div>
</div>
