<%  content_for :title do %>

 Foodlog &ndash; <%= DateTime.now.to_s(:nice_date) %>

<%end%>

<section class="hero is-primary is-small ">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <span class="navbar-burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
          	
            <% if user_signed_in? %>
            <div class="navbar-item">
            <% if !has_role? :admin %>  
            <span class="icon is-large">
               <i class="fas fa-utensils fa-2x"></i>
            </span>
            <%= link_to "Create New Entry", new_entry_path, class: "button is-info" %>
            <% end %>
            </div>
           <div class="navbar-item">
            <span class="icon is-large">
               <i class="fas fa-user-edit fa-2x"></i>
            </span>
            <%= link_to "Edit Profile", edit_user_registration_path, class: "button is-success" %>
           </div>
            <div class="navbar-item">
            <span class="icon is-large">
               <i class="fas fa-sign-out-alt fa-2x"></i>
            </span>
            <%= link_to("Logout", destroy_user_session_path, :method => :delete, class: "button is-danger") %>
            </div>
            <% end %>
          
            <% if !user_signed_in? %>
             <div class="navbar-item">
               <%= link_to("Login", new_user_session_path, class: "button is-primary") %>
             </div>
             <div class="navbar-item">
               <%= link_to("Sign Up", new_user_registration_path, class: "button is-primary") %>
             </div> 
              
             </div>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        <% if !user_signed_in? %>
        Foodlog by Joe Wicks
        <% else %>
        <% if content_for(:title) %>
        Welcome <%if user_signed_in?%>
        <%= current_user.name %><%end%></h1>
        <span class="icon is-large">
          <i class="fas fa-dumbbell fa-2x"></i>
        </span>
        <h2 class="subtitle"><%= yield :title %></h2>
        <% else %>
          Foodlog
        <% end %>
        <% end %>
    </div>
  </div>

 <div class="hero-foot">
    <nav class="tabs">
      <div class="container">
        <ul>

          <li class="has-text-weight-bold is-size-6 has-text-white">
           <%= link_to("Home", root_path) %>
          </li>
          <li class="has-text-weight-bold is-size-6 has-text-white"><a>Exercises</a></li>
          <li class="has-text-weight-bold is-size-6 has-text-white"><a>About Us</a></li>
          <li class="has-text-weight-bold is-size-6 has-text-white"><a>Contact Us</a></li>
          <li class="has-text-weight-bold is-size-6 has-text-white"><a>More</a></li>

        </ul>
      </div>
    </nav>
  </div>
</section>