<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @exercise.title %>
</p>

<p>
  <strong>File:</strong>
  <video controls width="640" height="480" src="<%= @exercise.file %>"></video>
</p>

<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
